<div class="row mt-5 pt-5">
    <div class="col-7 code">
        <code>
            <pre>
                <div style="font-size: 22px;">
    &lt;collapse-btn&gt;
        &lt;info-pay-card <strong>button</strong>&gt;&lt;/info-pay-card&gt;
        &lt;description-card <strong class="code">*ngFor</strong> <strong>body</strong>&gt;&lt;/description-card&gt;
    &lt;/collapse-btn&gt;
                </div>
            </pre>
        </code>
    </div>
    <div class="col-5">
        <div class="mx-5">
            <collapse-btn [id]="'card1'">
                <pay-card button [data]="dataButton"></pay-card>
                <description-card *ngFor="let debt of dataBody" body [data]="debt"></description-card>
            </collapse-btn>
        </div>
    </div>
</div>