<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cards">Hello! <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Get Started
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/introduction">Introduction</a>
            <a class="dropdown-item" routerLink="/multi-layer">Multi layer</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/card-one">Card One</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/card-two">Card Two</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/card-three">Card Three</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/warning">Warning</a>
        </li>
      </ul>
      <span class="navbar-text">
        @JoaMoreno
      </span>
    </div>
</div>
</nav>
<router-outlet></router-outlet>